{
    "env": {
        "amd": true,
        "browser": true,
        "jasmine" : true,
        "mocha" : true
    },
    "globals": {
        "_": true,
        "angular": true
    },
    "rules": {
        "strict": 0
    }
}